<!DOCTYPE html>
<html lang="en">

{{> head}}

<style>
    a{
        text-decoration: none !important;
    }
</style>

<body>

    {{> nav}}

    <div class="container">
        {{{body}}}

    {{> footer}}
    </div>

    {{> scripts}}
</body>

</html>